/*
==============
Word: visible.
==============
*/

.hw-word {
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: none !important;
}

/*
===============
Layout: footer.
===============
*/

.hw-layout__footer {
  display: none !important;
}
